<div class="page-header">
  <h2>
    <%= @strain.name %>

    <div>
      <small>
        Grown by <%= @strain.farm_name %> in <%= @strain.farm_county %> County
      </small>
    </div>
  </h2>
</div>
